.highlightL-list-wrapper {
  width: 100%;
  height: 100%;
}

.main-wrapper {
  width: 60%;
  margin: 20px auto;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px auto;
  row-gap: 5px;
  justify-content: space-between;

  header {
    width: 100%;
  }
}

.list-wrapper {
  width: 100%;

  h3 {
    display: inline-block;
    font-weight: bolder;
  }

  li {
    width: fit-content;
    list-style: none;
    margin: 6px 0;
    position: relative;
  }

  .item-select {
    position: relative;

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      left: -3px;
      top: 0;
      right: -3px;
      bottom: 0;
      border-radius: 5px;
      border: 1px solid rgba(245, 222, 179, 0.616);
      box-shadow: 0 0 3px white;
      background: rgba(255, 255, 255, 0.144);
      animation: scale-enter 300ms ease-out forwards;
      transform-origin: top center;
    }

    @keyframes scale-enter {
      from {
        opacity: 0;
        transform: scale(1, 0);
      }
      to {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
  }
}

.highlight {
  color: yellow;
  font-weight: bold;
  text-decoration: underline;
  cursor: default;
}
