.input-wrapper {
  --st-height: 30px;

  width: fit-content;
  display: inline-block;

  .capital-hint {
    line-height: var(--st-height);
    width: max-content;
    position: absolute;
    padding-left: 10px;
  }
}
