.form-example-wrapper {
  width: 100%;
}

.form-data {
  margin: 20px auto;
  width: fit-content;
  padding: 10px;
  backdrop-filter: blur(12px);
  border-radius: 6px;
  background: rgba(170, 170, 170, 0.3);
  box-shadow: 0 2px 3px rgb(36, 36, 36), 0 0 3px 1px #202020 inset,
    0 0 5px rgb(240, 235, 226);

  .form-item {
    margin: 10px auto;
  }
}

.detail-display {
  width: fit-content;
  max-width: 60%;
  font-size: 20px;
  font-weight: normal;
  margin: 0 auto;
  word-wrap: break-word;
  word-break: break-all;
}
